In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('rbc.csv')
data

          data     goog     amzn       fb
0   2020-06-30  278.49B  258.31B  139.69B
1   2020-03-31  273.40B  221.24B  138.37B
2   2019-12-31  275.91B  225.25B  133.38B
3   2019-09-30  263.04B  199.10B  124.42B
4   2019-06-30  257.10B  191.35B  117.01B
5   2019-03-31  245.35B  178.10B  109.48B
6   2018-12-31  232.79B  162.65B   97.33B
7   2018-09-30  221.54B  143.70B   92.45B
8   2018-06-30  211.61B  134.10B   90.29B
9   2018-03-31  206.94B  126.36B   88.94B
10  2017-12-31  197.30B  131.31B   84.52B
11  2017-09-30  189.54B  115.27B   79.00B
12  2017-06-30  178.62B   87.78B   73.84B
13  2017-03-31  172.76B   80.97B   68.71B
14  2016-12-31  167.50B   83.40B   64.96B
15  2016-09-30  159.95B   70.90B   59.67B
16  2016-06-30  154.29B   65.08B   55.74B
17  2016-03-31  149.75B   61.13B   52.08B
18  2015-12-31  147.46B   64.75B   49.41B
19  2015-09-30  144.28B   56.23B   46.47B
20  2015-06-30  138.81B   52.44B   44.13B
21  2015-03-31  133.40B   50.08B   42.01B
22  2014-12-31  129.19B   54.50B   39.97B
23  2014-09-30  125.78B   40.42B   24.19B
24  2014-06-30  121.61B   37.90B   20.77B
25  2014-03-31  116.53B   36.36B   19.03B
26  2013-12-31  110.92B   40.16B   17.90B
27  2013-09-30  105.07B   31.86B   14.93B
28  2013-06-30  101.18B   29.62B   15.72B
29  2013-03-31   96.69B   28.38B   15.16B
30  2012-12-31   93.80B   32.56B   15.10B
31  2012-09-30   89.73B   22.83B   16.04B
32  2012-06-30   86.05B   21.02B   14.93B
33  2012-03-31   77.14B   20.34B   7.184B
34  2011-12-31   72.57B   25.28B   6.331B
35  2011-09-30   69.09B   19.05B      NaN
36  2011-06-30   64.86B   17.94B      NaN
37  2011-03-31   59.96B   16.88B      NaN
38  2010-12-31   57.85B   18.80B      NaN
39  2010-09-30   53.34B   14.16B      NaN
40  2010-06-30   48.04B   12.40B      NaN
41  2010-03-31   42.87B   12.04B      NaN
42  2009-12-31   40.50B   13.81B      NaN
43  2009-09-30   37.70B   8.972B      NaN
44  2009-06-30   35.16B   7.675B      NaN
45  2009-03-31   33.51B    6.98B      NaN
46  2008-12-31   31.77B   8.314B      NaN
47  2008-09-30   30.81B   6.566B      NaN
48  2008-06-30   29.18B   6.322B      NaN
49  2008-03-31   27.60B   5.883B      NaN