In [9]:
import bar_chart_race as bcr
import pandas as pd

In [25]:
#df = pd.read_csv('pypi.ipynb', error_bad_lines=False)
df = pd.read_csv('rbc_1119_pypi.csv', index_col = 'date')
#df
df

              goog    amzn      fb   apple
date
2008-06-30   29180    6322     100   31710
2008-09-30   30810    6566     100   36170
2008-12-31   31770    8314     100   42790
2009-03-31   33510    6980     100   43240
2009-06-30   35160    7675     100   48140
2009-09-30   37700    8972     100   47500
2009-12-31   40500   13810     100   53930
2010-03-31   42870   12040     100   57060
2010-06-30   48040   12400     100   64720
2010-09-30   53340   14160     100   75180
2010-12-31   57850   18800     100   86740
2011-03-31   59960   16880     100   94900
2011-06-30   64860   17940     100  106760
2011-09-30   69090   19050     100  116370
2011-12-31   72570   25280     100  138680
2012-03-31   77140   20340    7184  150930
2012-06-30   86050   21020   14930  162900
2012-09-30   89730   22830   16040  176060
2012-12-31   93800   32560   15100  196090
2013-03-31   96690   28380   15160  194740
2013-06-30  101180   29620   15720  199860
2013-09-30  105070   31860   14930  207000
2013-12-31  110920   40160   17900  225180
2014-03-31  116530   36360   19030  205990
2014-06-30  121610   37900   20770  222520
2014-09-30  125780   40420   24190  231840
2014-12-31  129190   54500   39970  261890
2015-03-31  133400   50080   42010  261190
2015-06-30  138810   52440   44130  273150
2015-09-30  144280   56230   46470  290340
2015-12-31  147460   64750   49410  293280
2016-03-31  149750   61130   52080  305280
2016-06-30  154290   65080   55740  305600
2016-09-30  159950   70900   59670  321690
2016-12-31  167500   83400   64960  331140
2017-03-31  172760   80970   68710  334530
2017-06-30  178620   87780   73840  345170
2017-09-30  189540  115270   79000  375320
2017-12-31  197300  131310   84520  406790
2018-03-31  206940  126360   88940  367500
2018-06-30  211610  134100   90290  349200
2018-09-30  221540  143700   92450  365720
2018-12-31  232790  162650   97330  373720
2019-03-31  245350  178100  109480  342000
2019-06-30  257100  191350  117010  322240
2019-09-30  263040  199100  124420  338520
2019-12-31  275910  225250  133380  340620
2020-03-31  273400  221240  138370  320400
2020-06-30  278490  258310  139690  317340
2020-09-30  299240  282180  146440  323890

In [26]:
df.shape

(50, 4)

In [28]:
bcr.bar_chart_race(df=df,
                   filename='rbc.mp4', 
                   title = 'My Future Business')

In [15]:
df = bcr.load_dataset('covid19_tutorial')
df

,Belgium,China,France,Germany,Iran,Italy,Netherlands,Spain,USA,United Kingdom
date,,,,,,,,,,
2020-04-03,1143,3326,6520,1275,3294,14681,1490,11198,7418,3611
2020-04-04,1283,3330,7574,1444,3452,15362,1656,11947,8387,4320
2020-04-05,1447,3333,8093,1584,3603,15887,1771,12641,9489,4943
2020-04-06,1632,3335,8926,1810,3739,16523,1874,13341,10783,5385
2020-04-07,2035,3335,10343,2016,3872,17127,2108,14045,12798,6171
2020-04-08,2240,3337,10887,2349,3993,17669,2255,14792,14704,7111
2020-04-09,2523,3339,12228,2607,4110,18279,2403,15447,16553,7993
2020-04-10,3019,3340,13215,2767,4232,18849,2520,16081,18595,8974
2020-04-11,3346,3343,13851,2894,4357,19468,2653,16606,20471,9892
2020-04-12,3600,3343,14412,3022,4474,19899,2747,17209,22032,10629